*{
    margin: 0;
}

.contenedor{
    background: hotpink;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10%;
}

button{
    width: 20%;
    height: 20%;
    font-size: xx-large;
}
#BSi{
    transform: translate(-100%,0);
    font-size: xx-large;
    background-color: limegreen;
    border-color: green
    ;
}
#BNo{
    position: absolute;
    font-size: xx-large;
    background-color: red;
    border-color: brown;
}
